@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	transition: background-color 0.3s ease, color 0.3s ease;
}

body.light-mode {
	background-color: #ffffff;
	color: #000000;
}

body.dark-mode {
	background-color: #121212;
	color: #ffffff;
}

.bg-gray-950 {
	background-color: #121212;
}

.dark-mode .bg-gray-800 {
	background-color: #1a1a1a;
}

.dark-mode .text-white {
	color: #e0e0e0;
}

*::-webkit-scrollbar {
	display: none;
}

* {
	-ms-overflow-style: none;
	scrollbar-width: none;
}